<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WelcomePage</title>
</head>
<body>

<form th:method="GET" th:action="@{/}">
    <input type="submit" value="На главную"/>
</form>

<h2>Hi! It's first spring project</h2>
<p>Задача:
    В местной библиотеке хотят перейти на цифровой учет книг. Вам
    необходимо реализовать веб-приложение для них. Библиотекари
    должны иметь возможность регистрировать читателей, выдавать им
    книги и освобождать книги (после того, как читатель возвращает
    книгу обратно в библиотеку).
</p>


<form th:method="Get" th:action="@{/books}">
    <input type="submit" value="Books"/>
</form>
<br/>
<form th:method="Get" th:action="@{/people}">
    <input type="submit" value="People"/>
</form>
<br/>


</body>
</html>
